@mixin test() {
  color: red;
}

.option-container
  @include test;
  display: flex
  min-height: 40px
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  margin:
    top: 10px
    bottom: 10px  
  .option-mark
    width: 5px
    background-color: gray
  &.checked
    background-color: gray
    .option-mark
      background-color: red
  &.checked
    .option-checkbox
      span
        align-self: center
        height: 20px
        width: 20px
        border-radius: 50%
        background: url(../img/check.jpg)
        background-size: 72px   
  .option-icon
    display: flex
    img
      width: 30px
      align-self: center
      padding: 10px
  .option-text
    flex: 1
    align-self: center
    text-align: center
    padding: 10px
  .option-checkbox
    display: flex
    justify-content: center
    width: 40px
    span
      align-self: center
      height: 20px
      width: 20px
      border: 1px solid black
      border-radius: 50%
      background-color: white