.container 
  border: 1px solid black;

.option-container
  display: flex
  height: 40px
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  margin:
    top: 10px
    bottom: 10px  
  .option-mark
    width: 5px
    background-color: gray
  &.checked
    background-color: gray;
    .option-mark
      background-color: red
  &.checked
    .option-checkbox
      background-color: red 
  &.checked
    .option-checkbox
      span
        align-self: center
        height: 20px
        width: 20px
        border-radius: 50%
        background: url(../img/check.jpg)
        background-size: 72px   
  .option-icon
    width: 40px
    background-size: 670px
    background: url(../img/icons.jpg) 0 4px
    background-size: 560px
  .option-text
    /* basis, line break*/
    flex: 1
    align-self: center
    text-align: center
  .option-checkbox
    display: flex
    justify-content: center
    width: 40px
    background-color: gray 
    span
      align-self: center
      height: 20px
      width: 20px
      border-radius: 50%
      background-color: white